
.container-box {
    width: 960px;
}


img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

button {
    background: rgb(2, 134, 2);
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: none;   
}

.text-namber {
     padding: 48px 10px;
     text-align: center;
}

.wrapper-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

}

.card-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 650px;
}


.wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}



